<div class="card">
  <div class="card-header bg-info text-light">Add new contact</div>
  <div class="card-body">
    <form (submit)="addContact()">
      <div class="form-group">
        <label for="name">Name / Company name:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control" name="surname" [(ngModel)]="surname">
      </div>
      <div class="form-group">
          <label for="phoneNumber">Phone number:</label>
          <input type="number" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber">
        </div>
      <input type="submit" value="Add Contact" class="btn btn-primary">
    </form>
  </div>
</div>